<%= form_for(@material) do |f| %>
  <% if @material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% @material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :原料編號 %><br>
    <%= f.number_field :M_Id %>
  </div>
  <div class="field">
    <%= f.label :原料名稱%><br>
    <%= f.text_field :M_Name %>
  </div>
  <div class="field">
    <%= f.label :原料成本 %><br>
    <%= f.text_field :M_Cost %>
  </div>
  <div class="field">
    <%= f.label :供應商 %><br>
    <%= f.text_field :Supplier %>
  </div>
  <div class="field">
    <%= f.label :供應商住址 %><br>
    <%= f.text_field :S_Address %>
  </div>
  <div class="field">
    <%= f.label :供應商電話 %><br>
    <%= f.number_field :S_phone %>
  </div>
  <div class="field">
    <%= f.label :運輸時間 %><br>
    <%= f.number_field :Transportation_Time %>
  </div>
  <div class="field">
    <%= f.label :合格 %>(是為1否為0)<br>
    <%= f.number_field :Quality %>
  </div>
  <div class="field">
    <%= f.label :製成品 %><br>
    <%= f.text_field :Result %>
  </div>
   <div class="field">
    <%= f.label :製造數量 %><br>
    <%= f.number_field :Number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
