<table>
  <thead>
    <tr>
      <th>產品編號Id</th>
      <th>原料名稱</th>
      <th>原料成本</th>
      <th>供應商</th>
      <th>運送時間(日)</th>
      <th>訂購數量</th>
      <th>訂購時間</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <% if material.Result=='小泡芙'%>
        <td><%= material.M_Id %></td>
        <td><%= material.M_Name %></td>
        <td><%= material.M_Cost %></td>
        <td><%= material.Supplier %></td>
        <td><%= material.Transportation_Time %></td>
        <td><%= material.Number %></td>
         <td><%= material.updated_at %></td>
        <td><%= link_to '資料一覽', material %></td>
        <td><%= link_to '編輯購買量', edit_material_path(material) %></td>
        
      <% else %>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

建議搭配組合為:
</br>
越南可可公司生產
 <% @materials.each do |material| %>
 <% if material.Supplier=='越南可可公司'%>
 <%= material.M_Cost*40 %>個
 <% else %>
 <% end %>
 <% end %>
天天樂公司生產
  <% @materials.each do |material| %>
 <% if material.Supplier=='天天樂'%>
 <%= material.M_Cost*20 %>個
 <% else %>
 <% end %>
 <% end %>
 </br>
 <%= link_to '生產系統', root_path %>
<%= link_to '合格原料表', materials_path %>
<%= link_to '原料資料庫', data_path %>