合格原料

<table>
  <thead>
    <tr>
      <th>M id</th>
      <th>M name</th>
      <th>M cost</th>
      <th>Supplier</th>
      <th>S address</th>
      <th>S phone</th>
      <th>Transportation time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td><%= material.M_Id %></td>
        <td><%= material.M_Name %></td>
        <td><%= material.M_Cost %></td>
        <td><%= material.Supplier %></td>
        <td><%= material.S_Address %></td>
        <td><%= material.S_phone %></td>
        <td><%= material.Transportation_Time %></td>
        <td><%= material.Number %></td>
        <td><%= link_to 'Show', material %></td>
        <td><%= link_to 'Edit', edit_material_path(material) %></td>
        <td><%= link_to 'Destroy', material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '生產小泡芙', a_path %></br>
<%= link_to '原料資料庫', data_path %>
