<p id="notice"><%= notice %></p>

<p>
  <strong>產品編號</strong>
  <%= @product.P_ID %>
</p>

<p>
  <strong>產品名稱</strong>
  <%= @product.P_Name %>
</p>

<p>
  <strong>庫存數量</strong>
  <%= @product.P_Inventory %>
</p>

<p>
  <strong>製造日期</strong>
  <%= @product.Produce_Dated %>
</p>

<p>
  <strong>成本</strong>
  <%= @product.Cost %>
</p>

<p>
  <strong>售價</strong>
  <%= @product.Price %>
</p>

<p>
  <strong>工廠</strong>
  <%= @product.Factory %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
