<p id="notice"><%= notice %></p>

<p>
  <strong>P id:</strong>
  <%= @product.P_ID %>
</p>

<p>
  <strong>P name:</strong>
  <%= @product.P_Name %>
</p>

<p>
  <strong>P inventory:</strong>
  <%= @product.P_Inventory %>
</p>

<p>
  <strong>Produce dated:</strong>
  <%= @product.Produce_Dated %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @product.Cost %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.Price %>
</p>

<p>
  <strong>Factory:</strong>
  <%= @product.Factory %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
